li{
    color: green;
    font-family: Verdana;
}

h1{
    color: purple;
    font-size: 50px;
    font-family: Impact;
}

h4{
    color: yellowgreen;
    font-size: 30px;
    font-family: Helvetica;
}